/* Resetando estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a fonte e o estilo geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

h2 {
    color: #444;
    margin-top: 20px;
}

/* Estilizando os links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Seções de conteúdo */
section {
    margin: 30px 0;
    padding: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
    font-size: 1.2rem;
}

footer {
    background: #333;
    color: white;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    font-size: 0.9rem;
}
